astroid==2.4.2
future==0.18.2
iso8601==0.1.12
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql-connector-python==8.0.21
protobuf==3.18.3
pylint==2.5.3
pyserial==3.4
PyYAML==5.3.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
